{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}

<body>
  <br>
  <div class="d-flex justify-content-center">
    <div class="card-groups">
      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Life</div>
        <div class="card-body text-info">
          <p class="card-text text-black">Pitches that upgrade someone's standards of living</p>
          <button type="button" class="btn btn-outline-info"><a href="../pitch/">Post Pitch</a></button>
          <button type="button" class="btn btn-outline-info"><a href="/categories/life">View Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Technology</div>
        <div class="card-body text-info">
          <p class="card-text">Pitches on the development of Technology</p>
          <button type="button" class="btn btn-outline-info"><a href="../pitch/">Post Pitch</a></button>
          <button type="button" class="btn btn-outline-info"><a href="/categories/coding">View Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Humor</div>
        <div class="card-body text-info">
          <h5 class="card-title">Humorous Pitches</h5>
          <p class="card-text">Pitches to burst out laughing</p>
          <button type="button" class="btn btn-outline-info"><a href="../pitch/">Post Pitch</a></button>
          <button type="button" class="btn btn-outline-info"><a href="/categories/funny">View Pitches</a></button>
        </div>
      </div>

    </div>
  </div>

  {% endblock%}
</body>